{%load static %}
<footer>
    <img src="{% static 'img/logo.png' %}" alt="Logo" width="128px" />
        <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica">Disenador logotipo<a/></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica">Disenador logotipo<a/></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-fotografica">Disenador logotipo<a/></li>

    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio<a/></li>
        <li><a href="{% url 'portfolio' %}">Portafolio<a/></li>
        <li><a href="https:instagram.com">Instagram<a/></li>
    </ul>
    <ul>
        <li><a href="">Disenado<a/></li>
        <li><a href="">Disenador logotipo<a/></li>
        <li><a href="">Disenador logotipo<a/></li>
    </ul>
  
</footer>